/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
  color: black;
  font-family: calibri;
  font-size: 15px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

input {
  font-size: .9em;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px 15px 15px 30px;
}

.button {
  color: white;
  background: orange;
  border: none;
  padding: 15px;
  width: fit-content;
}

span {
  color: orange;
  display: block;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
main {
  background: #ebf7ff;
  background-image: url('../imgs/main.jpg');
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}

header {
  
}

nav {
  float: right;
}

main section {
  clear: both;
  text-align: left;
  padding: 50px 40% 100px 10%;
}

section {
  padding: 50px 10%;
  text-align: center;
}

body > section:first-of-type {
  padding-left: 40%;
  padding-right: 5%;
  text-align: left;
  background-image: url('../imgs/about.jpg');
  background-position: left 65%;
  background-size: cover;
  background-repeat: no-repeat;
}

body > section:first-of-type span {
  text-align: left;
}

.meals {
  background: linear-gradient(#ebf7ff, white, #ebf7ff);
}

.meals img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.book,
.testimonials {
  background: linear-gradient(to right, #ebf7ff, white 20%);
}

.book {
  background-image: url('../imgs/book.jpg');
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}

video {
  width: 60%;
  height: 500px;
}

video[poster] {
  object-fit: cover;
  object-position: center;
}

video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent);
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav li {
  margin-right: 20px;
}

nav i {
  color: black;
}

main section li {
  margin-right: 50px;
}

.meals > ul:first-of-type li:first-of-type {
  border-bottom: 1px solid gray;
  width: 100px;
}

.meals li {
  padding: 0 25px;
  padding-bottom: 10px;
}

.meals a:hover {
  color: orange;
}

.meals > ul li:hover {
  border-bottom: 1px solid orange;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3, h4, h5 {
  font-size: 3.2em;
}

h6 {
  font-family: calibri;
  font-size: 1.5em;
}

i {
  color: orange;
}

.testimonials i {
  color: #ffd000;
}

.testimonials img {
  border-radius: 100%;
  width: 150px;
}

span.title {
  color: gray;
  font-size: .8em;
}

.testimonials p {
  font-style: italic;
}

span.call {
  color: black;
}

span.phoneNumber {
  color: orange;
  font-family: 'DM Serif Display', serif;
  font-size: 1.4em;
}

main input {
  width: 400px;
}

table {
  margin: auto;
  text-align: left;
  width: 600px;
}

td:first-of-type {
  width: 75%;
}

table tr:last-child {
  font-family: 'DM Serif Display', serif;
}

@media all and (max-width: 400px) {
  header {
    display: none;
  }
  
  body > section, section,
  body > section:first-of-type {
    margin: auto;
    padding: 20px;
  }


  main input, .button {
    display: block;
    width: 100%;
  }

  table {
    width: 100%;
  }
  td:first-of-type {
    width: 50%;
  }
}