/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: 50% 50% / cover no-repeat url('../images/main.jpg');
  background-attachment: fixed;
}

nav {
  margin: 0 5%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
  width: auto;
}

nav div {
  width: 33.3%;
  float: left;
}

nav > div {
  text-align: left;
}

nav div + div {
  text-align: center;
}

nav div:last-child {
  text-align: right;
}

/******************************************
/* LAYOUT
/*******************************************/
header, main {
  color: white;
  padding-top: 1em;
  padding-bottom: 4em;
}

/* main {
  background: #66768a;
} */

main p {
  margin-left: 5%;
  margin-right: 5%;
}

section {
  padding: 3em 20%;
  background: #dbdfe2;
}

/* SECTION WITH CLASSES OR HIRE */

.options {
  margin: 0;
  background: none;
  padding-top: 4em;
}

.options div {
  float: left;
  margin: 0;
  padding-bottom: 4em;
  width: 50%;
  color: white;

}

.options div:first-child {
  padding-left: 0%;
  padding-right: 1%;
}

.options div:last-child {
  padding-right: 0%;
  padding-left: 1%;
}

/* FOOTER */

footer {
  /* background: #161f2a; */
  color: white;
  padding: 2em;
  padding-bottom: .5em;
  text-align: left;
  height: auto;
}

.irs {
  border-top: 1px solid white;
  padding: 2em 0;
  clear: both;
}

.footerLogo {
  position: absolute;
  right: 2em;  
  display: inline-block;
}

/* FOOTER LEFT SIDE */

footer > div {
  float: left;
  margin-bottom: 2em;
}

/* FOOTER RIGHT SIDE */

footer div + div {
  float: right;
  margin-bottom: 2em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* LINKS */
a {
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: #dbdfe2;  
}

/* LINKS IN HEADER */

header a:last-child {
  margin-right: 0;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

a.donate {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

a.donate:hover {
  color: black;
  background: #dbdfe2;
}

/* LINKS IN SECTIONS */

section a {
  font-family: 'Dosis', sans-serif;
  color: black;
  border: 1px solid black;
  padding: 10px 50px;
  display: inline-block;
}

section a:hover {
  color: white;
  border: 1px solid white;
  background: black;
}

/* LINKS IN SECTION WITH CLASSES OR HIRE */

.options a {
  color: white;
  border: 1px solid white;
}

.options a:hover {
  color: black;
  border: 1px solid #dbdfe2;
  background: #dbdfe2;
}

/* LINKS IN FOOTER */

footer a {
  font-size: .7em;
  text-transform: none;
  margin-right: 20px;
}

footer li a {
  margin-right: 0;
}

/* TEXT */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4em;
}

h2, h4 {
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
}

main p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

span {
  display: block;
}

footer h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  font-size: .7em;
  margin-bottom: 1px;
}

footer h6 {
  color: #778596;
}

footer p {
  font-size: .7em;
  font-weight: 300;
}

/* IMAGES */

.options img {
  width: 70%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 5px 5px #cfcfcf;
}

/******************************************
/* DEVICE RESPONSIVENESS
/*******************************************/

/* TABLETS */

@media all and (max-width: 1024px) {
  /* OPTIONS TO HIRE OR VISIT STACK ON TOP */
  .options div {
    width: 100%;
  }

  /* TEXT ADJUSTS TO SCREEN SIZE */
  h1 {
    font-size: 5.9vw;
  }

  p {
    font-size: 2vw;
  }
}

/* MOBILE */

@media all and (max-width: 480px) {
  /* ONLY LOGO IS SHOWN IN HEADER */
  nav div:first-child,
  nav div:last-child {
    display: none;
  }

  nav div {
    width: 100%;
  }

  .options div {
    width: 100%;
  }


}